- var urlEssentialLight = "https://transactions.sendowl.com/products/77862826/A38C85C3/purchase";
- var urlEssentialRegular = "https://transactions.sendowl.com/products/77862825/3822B982/purchase";
- var urlEssentialBold = "https://transactions.sendowl.com/products/77862824/5A901184/purchase";
- var urlEssentialAll = "https://transactions.sendowl.com/packages/657197/FE2AD1DF/purchase";
- var urlUltimateLight = "https://transactions.sendowl.com/products/77861046/2A943AE1/purchase";
- var urlUltimateRegular = "https://transactions.sendowl.com/products/77861085/82FC608A/purchase";
- var urlUltimateBold = "https://transactions.sendowl.com/products/77861092/D94AC22C/purchase";
- var urlUltimateAll = "https://transactions.sendowl.com/packages/657075/95F703A0/purchase";

section#buy
  div.main-wrapper
    div.trigger
    div.section-text-wrapper
      div.section-text-big
        h2
          strong Get Streamline today. <br/>
          span Expand your toolkit.
    div.section-content
      div.price-panel-group#price
        div.price-panel.price-panel--free
          div.price-panel-content
            div.top-content
              h3 Free
              p 100 different icons in 3 different weights. Join the Streamline list today and try before you buy.
            include form.pug
        div.price-panel.price-panel--essential
          div.price-panel-content
            div.top-content
              h3 Essential
              p This pack includes 14 categories specifically for UI design. Choose 1 weight or get them all.
              ul
                li
                  a(href=urlEssentialLight)
                    div.emoji 👉
                    | 4,000 Light Icons
                    span
                      | $97
                li
                  a(href=urlEssentialRegular)
                    div.emoji 👍
                    | 4,000 Regular Icons
                    span
                      | $97
                li
                  a(href=urlEssentialBold)
                    div.emoji 👌
                    | 4,000 Bold Icons
                    span
                      | $97
            div.cta-group
              a(href=urlEssentialAll)
                div.emoji 😃
                | All 12,000 Icons
                span
                  em $291
                  | $194
              p Get all three weights for the price of two.

        div.price-panel.price-panel--ultimate
          div.price-panel-content
            div.top-content
              h3 Ultimate
              p The whole shebang. This pack includes all 53 categories. Choose 1 weight or get them all.
              ul
                li
                  a(href=urlUltimateLight)
                    div.emoji 😁
                    | 10,500 Light Icons
                    span
                      | $137
                li
                  a(href=urlUltimateRegular)
                    div.emoji 🙌
                    | 10,500 Regular Icons
                    span
                      | $137
                li
                  a(href=urlUltimateBold)
                    div.emoji 🙏
                    | 10,500 Bold Icons
                    span
                      | $137
            div.cta-group
              a(href=urlUltimateAll)
                div.emoji 😍
                | All 31,500 Icons
                span
                  em $411
                  | $274
              p Get all three weights for the price of two.

    div.testimonial-group
      div.testimonial-small
        p “The ability to compliment my designs quickly with a consistent icon set makes my job as a designer a whole lot easier.”
        img(src="_assets/img/people/vin.jpg")
        h6 Vin Thomas

      div.testimonial-small
        p “These icons are beautiful, simple, balanced and meaningful. They really speed up the design process.”
        img(src="_assets/img/people/mikekus.jpg")
        h6 Mike Kus

      div.testimonial-small
        p "They’re elegant, consistent, and cover just about every possible use case. Most importantly, my clients really like them."
        img(src="_assets/img/people/dan.jpg")
        h6 Dan Conti

      div.testimonial-small
        p "Streamline icon set has just about every single icon I've needed for over 3 years now! It's clean, simple, and crisp."
        img(src="_assets/img/people/narek.jpg")
        h6 Narek Khachatryan
