include ../_includes/sprintvars.pug

//- SPRINT ONE ---------------------------------------------------------------------------
//- **************************************************************************************
.grid-two-one.sprint.sprint--one
    .video
      .video-wrap
        iframe(width="560", height="315", src="https://www.youtube.com/embed/" + sprint_1_1_ID + "?rel=0&controls=0?modestbranding=1&showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen="")
      .title-link.grid-two
        h2 #{sprint_1_1_title}
        a(href="#")
          img(src="../_assets/img/icon-download.svg" alt="download icon")
          <em>Download</em> the project files
      .instructor.grid-two
        img(src="../_assets/img/avatar-mds.png" alt="mds avatar")
        h5 by
          a(href="http://twitter.com/mds")  MDS
      p #{sprint_1_1_desc}
    div.video-playlist

      ol

        li: a.grid-two.now-playing(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/" + sprint_1_1_ID + "/mqdefault.jpg" alt="video thumbnail")
          div
            h3 #{sprint_1_1_title}
            p.now-playing Now Viewing
            time #{sprint_1_1_time}

        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/" + sprint_1_2_ID + "/mqdefault.jpg" alt="video thumbnail")
          div
            h3 #{sprint_1_2_title}
            time #{sprint_1_2_time}

        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/" + sprint_1_3_ID + "/mqdefault.jpg" alt="video thumbnail")
          div
            h3 #{sprint_1_3_title}
            time #{sprint_1_3_time}

        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/" + sprint_1_4_ID + "/mqdefault.jpg" alt="video thumbnail")
          div
            h3 #{sprint_1_4_title}
            time #{sprint_1_4_time}

        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/" + sprint_1_5_ID + "/mqdefault.jpg" alt="video thumbnail")
          div
            h3 #{sprint_1_5_title}
            time #{sprint_1_5_time}


